.current-article {
  min-height: 807px;

  &-descr {
    margin-top: 16px;
  }
}

.article-body {
  margin-top: 25px;
  overflow: hidden;
}

.article-spin {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
