.current-article {
  min-height: 807px;
  display: block;

  &-descr {
    margin-top: 16px;
  }
}

.article-body {
  margin-top: 45px;
  overflow: hidden;
}

.article-body img {
  width: 100%;
}

.article-spin {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 807px;
}

.article-tags {
  display: flex;
  flex-wrap: wrap;
}

.current-article-text {
  width: 100%;
}

.aside {
  float: right;
}

.confirm-btn {
  margin-top: 30px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: $font-style--normal;
  font-weight: $font-weight--default;
  font-size: $font-size--16px;
  line-height: $line-height--24px;
  padding: 6px 17px;
  border-radius: 5px;
}

.confirm-delete-btn {
  border: 1px solid $color--error;
  color: $color--error;
  height: 38px;

  &:hover {
    background-color: $color--error;
  }
}

.confirm-edit-btn {
  margin-left: 12px;
  color: $color--green;
  border: 1px solid $color--green;
}
