
.favorite {
  transform: translate(40px, 5px);
}

.checkbox {
  appearance: none;

  &:checked + .custom-checkbox {
    background-image: url(../../assets/img/liked.svg);
    height: 14px;
    cursor: pointer;
  }
}

.custom-checkbox {
  position: absolute;    
  margin-left: -23px;
  margin-top: 3px;
  width: 16px;
  height: 15px;
  background-image: url(../../assets/img/like.svg);
  background-color: #ffffff;
  cursor: pointer;
}